name: Deploy documentation
on:
  push:
    branches: [main]

defaults:
  run:
    working-directory: docs

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: "https://caiyunapp.github.io/cyeva"
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - run: make html
      - run: ls -alh "./build/html/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # https://github.com/actions/upload-pages-artifact/issues/74
          path: "docs/build/html/"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
